<div class="social-icons">
    <a href="mailto:hasan.sayginel.17@ucl.ac.uk" target="_blank"><img class="icon" src="/assets/icons/email.svg" alt="Email icon"></a>
    <a href="https://www.linkedin.com/in/hasan-sayginel/" target="_blank"><img class="icon" src="/assets/icons/linkedin.svg" alt="LinkedIn icon"></a>
    <a href="https://twitter.com/hsayginel/" target="_blank"><img class="icon" src="/assets/icons/twitter.svg" alt="Twitter icon"></a>
    <a href="https://github.com/hsayginel" target="_blank"><img class="icon" src="/assets/icons/github.svg" alt="GitHub icon"></a>
    <a href="https://scholar.google.com/citations?user=pvVO5kQAAAAJ&hl=en"><img class="icon" src="/assets/icons/scholar.svg" alt="Scholar icon"></i></a>
</div>
  